// Primary
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$mediumTurquoise: hsl(180,46,51);

// Neutral
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

// Body Copy
$font-sm: 0.8rem; // 12.8px
$font-reg: 1rem; // 16px
$font-lg: 1.5rem; // 24px